{% load static %}
<!DOCTYPE html>
{% load render_bundle from webpack_loader %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Desafio Dress&Go</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" type="text/css" href="{% static 'vue-material.min.css' %}">
</head>
<body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.js"></script>
	<div id="app"></div>
	{% render_bundle 'main' %}
</body>
</html>
