# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db
*.sqlite*

# Logs:
*.log

# Sublime Text:
*sublime*

# Node modules / Bower components
node_modules
bower_components

# Media
desafiodress/media